/*css sprite class setup*/
.astolfo, .goldshi, .haru, .eresh, .teio, .gil, .douman, .sinclair, .leonidas,  .yisang, .vergil, .dante{
  height: 240px;
  width: 240px;
  background-image: url('../images/charactersheet.png');
  background-repeat: no-repeat;
  border: 5px inset white;
}
.astolfo {
  background-position: 0px 0px;
}
.goldshi{
  background-position: -240px 0px;
}
.haru {
  background-position: -480px 0px;
}
.eresh{
  background-position: -720px 0px;
}
.teio {
  background-position: 0px -240px;
}
.gil{
  background-position: -240px -240px;
}
.douman {
  background-position: -480px -240px;
}
.sinclair{
  background-position: -720px -240px;
}
.leonidas {
  background-position: -0px -480px;
}
.yisang {
  background-position: -240px -480px;
}
.vergil{
  background-position: -480px -480px;
}
.dante {
  background-position: -720px -480px;
}

/*set up fonts*/
@font-face {
  font-family: vcrosdmono;
  src: url("../fonts/VCR_OSD_MONO.ttf");
}
@font-face {
  font-family: dtm;
  src: url("../fonts/DTM-Mono.otf");
}

/*spin animation class*/
.spin{
  animation-name: speen;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes speen{
  25%{rotate:90deg}
  50%{rotate:180deg}
  75%{rotate:270deg}
  100%{rotate:360deg}
}
/*just setting font sizes, image widths, font family and all the basic css styling*/
*{
  font-family:vcrosdmono;
  box-sizing:border-box; 
  margin:0;
}

img{
  max-width: 100%;
}

h1{
  font-size:50px;
}

h2{
  padding: 25px 0 25px 0;
  font-size:25px;
}

h3{
  padding: 10px 0 10px 0;
  font-size:20px;
}

h4{
  font-size:18px;
}

p{
  font-size:15px;
}
details{
  font-family: dtm;
  font-size: 20px;
  color:rgb(5, 12, 94);
}
summary{
  font-family:dtm;
  font-size: 20px;
  color:rgb(5, 12, 94);
}

body{
  background:rgb(220, 220, 220);
}

header, footer {
  width:100%;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}
.mainflex {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

/*flex boxes*/
.main {
  padding:5px;
}
.navi{
  flex:1;
  background:rgb(146, 255, 193);
}
.content{
  flex:7;
  background:rgb(255, 246, 199);
}

button{
  height:50px;
  font-size: 20px;;
  font-family: dtm;
  background: rgb(255, 241, 172);
}
/*hover and transition for button*/
button:hover{
  font-size:30px;
  background:black;
  color: white;
  transition-duration: 1s;
}
a{
  font-size: 18px;
  color:rgb(8, 70, 48);
}
a:hover{
  color:rgb(6, 6, 134);
  transition-duration: 1s;
}
/*flex boxes*/
.pagenav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#indexbtn{
  flex:1;
}
#examplesbtn{
  flex:1;
}
#whybtn{
  flex:1;
}
#consequencesbtn{
  flex:1;
}

/*flex boxes*/
.examplesarticle{
  margin:10px 0px 10px 0px;
  border:6px outset rgb(225, 194, 91);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.series{
  padding: 0 10px 0 10px;
  flex:5;
}
.cover{
  height:100%;
  flex:1;
}

/*flex boxes*/
.goodflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goodcontent{
  flex:1;
}

.haruimg{
  flex:1;
  width:100%;
}


#minigame{
  text-align: center;
}

#nameinput{
  font-size:20px;
  width:100%;
  height:35px; 
}

#difficulty{
  font-size:20px;
  width:250px;
  max-width: 100%;
  height:50px;
}
/*minigame area width and height as a "box" for the minigame*/
.minigamearea{
  text-align: center;
  border: 10px outset gray;
  margin: 25px 0px 25px 0px;
  width:400px;
  height: 700px;
  background:white;
}
#gameqn{
  margin-top:50px;
}
.option{
  display:inline-block;
  border:3px solid black;
  text-align:center;
  font-size:20px;
  font-family: dtm;
  background: rgb(140, 140, 140);
  width:200px;
  height:50px;
}
/*made both inline so that they can be enxt to each other*/
#timer{
  width:40%;
  display: inline-block;
  font-size:20px;
  text-align: right;
}
#score{
  width:40%;
  display: inline-block;
  font-size:20px;
  text-align: left;
}
#gamestartbtn{
  margin-top: 20px;
  background: rgb(0, 157, 255);
}
/*transition and hover for the game start button*/
#gamestartbtn:hover{
  font-size: 20px;
  background:black;
  color: white;
  transition-duration: 1s;
}
/*position relative so that it can move around in the game*/
#minigameoptions{
  position:relative;
}

.history{
  font-size:20px;
  background: rgb(12, 204, 127);
  border:5px solid black;
  padding:10px 0 10px 0;
}
/*rwd for mobile*/
@media (max-width:800px){
#indexbtn{
  flex:100%;
}
#examplesbtn{
  flex:100%;
}
#whybtn{
  flex:100%;
}
#consequencesbtn{
  flex:100%;
}
h1{
  font-size:30px;
}

h2{
  padding: 25px 0 25px 0;
  font-size:18px;
}

h3{
  padding: 10px 0 10px 0;
  font-size:15px;
}

h4{
  font-size:10px;
}

p{
  font-size:10px;
}
details{
  font-family: dtm;
  font-size: 10px;
}
summary{
  font-family:dtm;
  font-size: 10px;
}
#mobile{
  display:none;
}
.navi{
  text-align: center;
  flex:100%;
}
.content{
  flex:100%;
}
.series{
  flex:100%;
}
.cover{
  width:100%;
  flex:100%;
}

}